* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #333;
    color: #ffffff;
}

.title {
    text-shadow: 3px 3px 5px white;
    text-align: center;
    font-size: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 4px;
}

.backdrop {
    font-weight: 2px;
    height: 100px;
    background-image: url('bg1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.backdrop:hover {
    opacity: 0.7;
    transform: scale(0.94);
}

.readplanel {
    width: 1000px;
    height: auto;
    background-color: thistle;
    margin-left: 15%;
    margin-top: 30px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 20px 20px 50px whitesmoke;
}

.titlesmall {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: 100px;
    color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.body {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}